.card-recipe {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  border: 1px solid white;
  justify-content: space-between;
  cursor: pointer;
}
.card-recipe:hover {
  background: #ffffff24;
}

.card-recipe__tags {
  list-style-position: inside;
}

.card-recipe__tag {
  border-bottom: 1px solid white;
}

.card-recipe__instructions {
  list-style-position: inside;
}

.card-recipe__instruction {
  border-bottom: 1px solid white;
}

.active_fav {
  background: #50a33e;
  border-color: yellow;
}

.card-recipe__button:hover {
  cursor: pointer;
  scale: 1.05;
}

