.search-bar__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.search-bar {
  margin-right: 1rem;
}
.search-bar__helper {
  margin: 3rem auto;
  text-align: center;
  text-align: center;
  display: block;
  font-size: 3rem;
}

.search-bar__button {
  cursor: pointer;
}
