.sign-up-form__container {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  margin: auto;
  row-gap: 1rem;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sign-up-form__heading {
  margin: 10px 0;
}
